body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #5cdb95, #05386b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.registrationForm {
    display: flex;
    flex-direction: column;
}

.registrationForm label {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.registrationForm input {
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.registrationForm input:focus {
    border-color: #5cdb95;
    outline: none;
}

.registrationForm button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    background-color: #5cdb95;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.registrationForm button:hover {
    background-color: #379683;
}

.formFooter {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.formFooter a {
    color: #5cdb95;
    text-decoration: none;
}

.formFooter a:hover {
    text-decoration: underline;
}
