body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4a90e2, #8dd695);
    margin: 0;
    padding: 20px;
    color: #333;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px; /* Фиксированная ширина */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap; /* Предотвращает перенос текста */
}

.dropdownContent label {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.dropdownContent input {
    margin-right: 10px;
}

.dropdown:hover .dropdownContent {
    display: block;
}

h1, h2 {
    text-align: center;
    color: white;
}
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
}
th, td {
    min-width: 150px; /* Уменьшена минимальная ширина */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #655dcb;
    color: white;
}
button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 5px;
}
.delete {
    background-color: #d9534f;
    color: white;
}
.start {
    background-color: #5cb85c;
    color: white;
}
input[type="text"], input[type="email"], input[type="number"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.addButton {
    background-color: #5cb85c;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label {
    width: 10px;
}
