body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #05386b, #5cdb95);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.formHeader {
    text-align: center;
    margin-bottom: 1.5rem;
}

.formHeader h1 {
    margin: 0;
    font-size: 2rem;
}

.formHeader p {
    font-size: 1rem;
    color: #5cdb95;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm label {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.loginForm input {
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.loginForm input:focus {
    border-color: #5cdb95;
    outline: none;
}

.loginForm button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    background-color: #5cdb95;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginForm button:hover {
    background-color: #379683;
}

.form-footer {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.form-footer a {
    color: #5cdb95;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}
