.authContainer {
    background-color: #fff;
    color: #05386b;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

.formHeader h1 {
    font-family: "Times Bold";
    color: #1a2ba9;
    margin: 0;
    font-size: 35px;
    text-align: center;
}

.formHeader p {
    font-size: 1rem;
    color: #2e841a;
    text-align: center;
}

.registrationForm {
    display: flex;
    flex-direction: column;
}

.registrationForm button:hover {
    background-color: #379683;
}

.registrationForm label {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.registrationForm input {
    padding: 1px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    min-width: 300px;
    min-height: 40px;
}

.registrationForm input:focus {
    border-color: #5cdb95;
    outline: none;
}

.registrationForm button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    background-color: #22ce4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
