<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Управление устройствами</title>
    <link rel="icon" type="image/png" href="images/favicon.ico"/>
</head>
<body>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        }
        .wrapper {
            display: flex;
            gap: 20px;
        }
        .control-panel {
            width: 300px;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .control-panel h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .control-panel button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .control-panel button:hover {
            background-color: #007bff;
        }
        .history-list-container {
            width: 300px;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .history-list-container h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        .history-list {
            padding: 0;
            list-style-type: none;
        }
        .history-list li {
            background-color: #f1f1f1;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 4px;
            text-align: center;
        }
    </style>

    <div class="wrapper">
        <div class="history-list-container">
            <h3>Список устройств</h3>
            <ul id="dev-list" class="history-list"></ul>
        </div>
        
        <div class="control-panel">
            <h2>Управление устройствами</h2>
            <button id="createDeviceBtn">Создать устройство</button>
            <button id="deleteDeviceBtn">Удалить устройство</button>
            <button id="createHistoryBtn">Запустить устройство</button>
            <button id="getListDeviceBtn">Получить список устройства</button>
            <button id="getHistoryBtn">Получить историю устройства</button>
        </div>

        <div class="history-list-container">
            <h3 id="history-title">История работы устройства</h3>
            <ul id="history-list" class="history-list"></ul>
        </div>
    </div>

    <script>
        document.getElementById('getListDeviceBtn').addEventListener('click', function() {
            jwt = localStorage.getItem('jwt');
            fetch('/api/device/', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': jwt
                },
                // body: JSON.stringify({ name: nameDevice })
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(data => {
                        throw new Error(data.errors || 'Неизвестная ошибка');
                    });
                }
                return response.json();  // Если все ок, парсим JSON
            })
            .then(data => {
                if (!data || !data.data || data.data.length === 0) {
                    console.log('Список устройств пуст');
                    alert('Список устройств пуст');
                    return; // Выходим из then, если данных нет
                }

                const listdev = data.data; // Предполагаем, что это данные истории
                const devicesListElement = document.getElementById('dev-list');
                devicesListElement.innerHTML = ''; // Очистка списка перед добавлением новых элементов

                // Создаем таблицу для истории
                const listdevTable = document.createElement('table');
                devicesListElement.appendChild(listdevTable);

                // Заголовок таблицы для истории
                const listdevHeaderRow = document.createElement('tr');
                const listdevHeaderCells = ['Имя устройства', 'Статус']; // Предполагаем названия столбцов
                listdevHeaderCells.forEach(cellText => {
                const th = document.createElement('th');
                th.textContent = cellText;
                listdevHeaderRow.appendChild(th);
                });
                listdevTable.appendChild(listdevHeaderRow);

                // Добавляем историю в таблицу
                listdev.forEach(device => {
                const row = document.createElement('tr');
                const cells = [device.name, device.status]; // Предполагаем названия полей
                cells.forEach(cellText => {
                    const td = document.createElement('td');
                    td.textContent = cellText;
                    row.appendChild(td);
                });
                listdevTable.appendChild(row);
                });
            })
            .catch(error => {
                console.log(error)
                // alert(error)
                const devicesListElement = document.getElementById('dev-list');
                devicesListElement.innerHTML = '';
                alert('Ошибка получения истории устройства: ' + error.message);
            });
        });

        document.getElementById('createDeviceBtn').addEventListener('click', function() {
            const nameHome = prompt('Введите имя дома:');
            const nameDevice = prompt('Введите название устройства:');
            if (nameDevice) {
                jwt = localStorage.getItem('jwt');
                console.log('Token ' + jwt);
                //'Authorization': 'Bearer ' + jwt
                console.log(JSON.stringify({ nameDevice }))
                fetch('/api/device/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': jwt
                    },
                    body: JSON.stringify({ home: nameHome, name: nameDevice })
                })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.errors || 'Неизвестная ошибка');
                        });
                    }
                    return response.json();  // Если все ок, парсим JSON
                })
                .then(data => {
                    alert(nameDevice);
                    //document.getElementById('homeName').innerText = data.name;
                    alert('Устройство успешно добавлено!');
                })
                .catch(error => {
                    alert('Ошибка добавления устройства: ' + error.message);
                });
            }
        });

        document.getElementById('deleteDeviceBtn').addEventListener('click', function() {
            const nameHome = prompt('Введите имя дома:');
            const nameDevice = prompt('Введите название устройства:');
            if (nameDevice) {
                jwt = localStorage.getItem('jwt');
                console.log('Token ' + jwt);
                //'Authorization': 'Bearer ' + jwt
                console.log(JSON.stringify({ nameDevice }))
                fetch('/api/device/', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': jwt
                    },
                    body: JSON.stringify({ home: nameHome, name: nameDevice })
                })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.errors || 'Неизвестная ошибка');
                        });
                    }
                    return response.json();  // Если все ок, парсим JSON
                })
                .then(data => {
                    alert(nameDevice);
                    //document.getElementById('homeName').innerText = data.name;
                    alert('Устройство успешно удалено!');
                })
                .catch(error => {
                    alert('Ошибка удаления устройства: ' + error.message);
                });
            }
        });

        document.getElementById('createHistoryBtn').addEventListener('click', function() {
            const nameHome = prompt('Введите имя дома:');
            const nameDevice = prompt('Введите название устройства:');
            if (nameDevice) {
                jwt = localStorage.getItem('jwt');
                console.log('Token ' + jwt);
                //'Authorization': 'Bearer ' + jwt
                console.log(JSON.stringify({ nameDevice }))
                fetch('/api/history/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': jwt
                    },
                    body: JSON.stringify({ home: nameHome, name: nameDevice })
                })
                .then(response => {
                    console.log(response.ok)
                    if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.errors || 'Неизвестная ошибка');
                        });
                    }
                    return response.json();  // Если все ок, парсим JSON
                })
                .then(data => {
                    console.log(data.data.idHistory)
                    if (data.data.idHistory == -2) {
                        alert("Устройство уже запущено");
                    }
                    alert(nameDevice);
                    //document.getElementById('homeName').innerText = data.name;
                    alert('Устройство ' + nameDevice + ' запущено!');
                })
                .catch(error => {
                    alert('Ошибка запуска устройства: ' + 'Неизвестная ошибка');
                });
            }
        });

        document.getElementById('getHistoryBtn').addEventListener('click', function() {
            jwt = localStorage.getItem('jwt');
            const nameHome = prompt('Введите имя дома:');
            const nameDevice = prompt('Введите название устройства:');
            console.log(nameDevice);
            if (nameDevice) {
                const historyTitle = document.getElementById('history-title');
                historyTitle.textContent = 'История работы ' + nameDevice;
                jwt = localStorage.getItem('jwt');
                console.log('Token ' + jwt);
                console.log(JSON.stringify({ nameDevice }))
                fetch('/api/history/', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': jwt
                    },
                    body: JSON.stringify({ home: nameHome, name: nameDevice })
                })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.errors || 'Неизвестная ошибка');
                        });
                    }
                    return response.json();  // Если все ок, парсим JSON
                })
                .then(data => {
                    const history = data.data;
                    const historyListElement = document.getElementById('history-list');
                    historyListElement.innerHTML = ''; // Очистка списка перед добавлением новых элементов
                    if (!data || !history || history.length === 0) {
                        console.log('История пуста');
                        alert('История пуста');
                        return; // Выходим из then, если данных нет
                    }

                    // Создаем таблицу для истории
                    const historyTable = document.createElement('table');
                    historyListElement.appendChild(historyTable);

                    // Заголовок таблицы для истории
                    const historyHeaderRow = document.createElement('tr');
                    const historyHeaderCells = ['Время работы', 'Среднее значение', 'Потраченная энергия']; // Предполагаем названия столбцов
                    historyHeaderCells.forEach(cellText => {
                    const th = document.createElement('th');
                    th.textContent = cellText;
                    historyHeaderRow.appendChild(th);
                    });
                    historyTable.appendChild(historyHeaderRow);

                    // Добавляем историю в таблицу
                    history.forEach(hstr => {
                    const row = document.createElement('tr');
                    const cells = [hstr.timework, hstr.average, hstr.energy]; // Предполагаем названия полей
                    cells.forEach(cellText => {
                        const td = document.createElement('td');
                        td.textContent = cellText;
                        row.appendChild(td);
                    });
                    historyTable.appendChild(row);
                    });
                })
                .catch(error => {
                    alert('Ошибка получения истории устройства: ' + error.message);
                });
            }
        });
    </script>

</body>
</html>
