body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #5cdb95, #05386b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.formFooter {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.formFooter a {
    color: #5cdb95;
    text-decoration: none;
}

.formFooter a:hover {
    text-decoration: underline;
}
